		
	
			<footer>
					<a href="#About" class="button circled scrolly">Quienes somos</a>
			</footer><br>


	<!-- Main -->

			<div class="wrapper style2">

				<article id="main" class="container special">
					<a class="image featured"><%= image_tag("pic06-1.jpg", :alt => "rss feed") %></a>
					<a id="About"></a>
					<header>
						<h2><a>Quienes Somos?</a></h2>
						
					</header>
					<p>
						Somos una empresa dedicada a la elaboración de empaques flexibles y ofrecemos una amplia variedad de productos afines a los empaques, envases productos de amarre, laminas vasos cubiertos y en general los productos que se requieren para el uso industrial o del hogar.
					</p>
				    </a>

					
					<header>
						<h2>Mision</h2>
					</header>

					<p>
						Ser líder en el suministro de materias primas para la industria del plástico, empaques desechables en el mercado regional y nacional, comprometidos con el medio ambiente.
					</p>

					<header>
						<h2><a>Vision</a></h2>
					</header>

					<p>En el 2015, nos destacaremos por proveer inteligentemente al sector del plástico, con la mejor competitividad en precio y servicio a la industria manufacturera de los empaques flexibles con suministro de materias primas de calidad mundial y acorde a los requerimientos del mercado.  Así mismo la elaboración y comercialización de los productos afines a los empaques desechables con un espíritu ambientalmente responsable procurando la sustentabilidad en nuestros productos Valores.
					</p>
					
				</article>

			</div>




	

			