		<footer>
				<a href="#contact" class="button circled scrolly">Contacto</a>
		</footer>



<!-- Main -->
			<div class="wrapper style1">

				<div class="container">
					<article id="main" class="special">
						<section id="contact">
							<header>
								<h2><a href="#">Contactenos</a></h2>
								<p>
									Para obtener información mas detallada sobre <strong>SIGMAPLAS</strong> comuniquese con nosotros
									en los siguientes telefonos o acerquese a nuestros puntos de servicio.
								</p>
							</header>
						</section>

						<a class="image featured"><%= image_tag("pic06-1.jpg", :alt => "rss feed") %></a>
						<section>
							<header>
									<h3>Llamanos desde Medellin al 604-61-22, o localmente desde tu cuidad:</h3>
								</header>
							
							<p>
								Cali: 489-99-76.<br>
								Bogota: 756-16-77.<br>
								Monteria: 789-88-85.<br>
								Pereira: 340-03-69.<br>

							</p>
						</section>
						<hr />
						<section>
							<header>
								<h3>Sedes</h3>
							</header>
							<p>
								<p>

								Medellin: Tenerife x Colombia  Cra 55 # 49 - 92<br>
								Medellin: (Alpujarra) Bolivar x Los Huesos  Cra 51 # 46 - 16<br>
								Pereira:  Calle 21 Nro. 9 - 62<br>
								Monteria: Calle 38 # 4 - 30<br>
								Itagüí: Central Mayorista Bloque 19 Local 1<br>
								Itagüí: (Sede Administrativa y producción) Cra 53 # 32 - 80<br>
								Email: servicioalcliente@sigmaplas.com.co<br>

							    </p>
					
						</section>

					</article>
					<hr />
					
				</div>
				

			</div>


			
