<!-- Footer -->
			<div id="footer">
				<div class="container">
					
					<div class="row">
						<div class="12u">
							
							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>Contacto</h3>
									</header>
									<p>Itagüí: (Sede Administrativa y producción) Cra 53 # 32 - 80 | 604-61-22</p>
									
								</section>
							
							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Todos los derechos reservados <li>Jorge Humberto Mosquera Marin</li></li><li>Diseño: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>

							
							
						</div>
					
					</div>
				</div>
			</div>