
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Quienes Somos', static_pages_about_path %></li>
  <li><%= link_to 'Nuestros Productos', static_pages_product_path %></li>
  <li><%= link_to 'Contacto', static_pages_contact_path %></li>